@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
  }
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 24px;
	color: #060606;
	font-weight: 400;
	font-family: "Cabin", sans-serif;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	max-width: 1400px;
	margin: 0 auto;
}
/* ---------------------------------------------------------------------------- */
.container {
	max-width: 1200px;
	padding: 15px;
	margin: 0px auto;
	box-sizing: border-box;
}

.header__footer__container{
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    flex-grow: 0.5;
	background-color: rgb(255, 255, 255);
}

.content__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(92, 175, 95);
    flex-grow: 5;
}

.header {
	height: 160px;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 100px;
}

.btn-language {
	padding-right: 10px;
	color: #090909;
	padding: 0.7em 1.7em;
	font-size: 14px;
	border-radius: 0.5em;
	background: #e8e8e8;
	cursor: pointer;
	border: 1px solid #e8e8e8;
	transition: all 0.3s;
	box-shadow: 6px 6px 12px #e2e2e2, -6px -6px 12px #ffffff;
}
.btn-language:active {
	color: #666;
	box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }

.logo img{
	height: 100px;
	border-radius: 20px;
}
.main {
	display: flex;
	flex-direction: column;
}

.nav-list ul li{
	padding-bottom: 40px;
}
.nav-list ul li a{
	color: #060606;
	font-size: 32px;
	font-weight: 700;
}
.footer{
    display: flex;
    height: 100px;
    margin-top: auto;
}