
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
/*-----------------------------Art--------------------------------- */
@import url('components/ArtPage/Art.css');

/* ----------------------------About------------------------------- */
@import url('components/AboutMe/AboutMe.css');

/* ----------------------------Contact------------------------------- */
@import url('components/Contact/Contact.css');


@font-face {
    font-family: 'Colonna';
    src: url('fonts/ColonnaMT.eot');
    src: url('fonts/ColonnaMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/ColonnaMT.woff2') format('woff2'),
        url('fonts/ColonnaMT.woff') format('woff'),
        url('fonts/ColonnaMT.ttf') format('truetype'),
        url('fonts/ColonnaMT.svg#ColonnaMT') format('svg');
    font-weight: 800;
    font-style: normal;
}


/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 28px;
	color: #ffffff;
	font-weight: 500;
	font-family:  "Cinzel", serif;
	background-color: #000000;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

/* ---------------------------------------------------------------------------- */
.container {
	max-width: 1200px;
	padding: 15px;
	margin: 0px auto;
	box-sizing: border-box;
}
.content-container{
	margin-left: 275px;
	min-height: 100vh;
	width: calc(100vw - 275px);
}

.header {
	width: 275px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	padding: 15px;
	top: 0;
	left: 0;
}

.logo__container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 250px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo p {
	font-family: 'Colonna';
	font-size: 32px;
	text-transform: uppercase;
}

.button-language {
	display: flex;
	align-items: center;
	gap: 10px;
}

.btn-language {
	padding-right: 10px;
	color: #090909;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 0.5em;
	background: #ffffff;
	cursor: pointer;
	border: 1px solid #ffffff;
	transition: all 0.3s;
}

.btn-language:active {
	color: #666;
	box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.nav__list {
	display: flex;
	text-align: center;
	justify-content: center;
}

.nav__list ul li {
	padding-bottom: 40px;
	cursor: pointer;
}

.nav__list ul li a {
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
}

/* ----------------------------MyProject------------------------------- */

@import url('components/MyProject/MyProject.css');


/* --------------------footer-------------------------- */


.footer {
	display: flex;
	flex-direction: column;
	width: 310px;
	position: fixed;
	bottom: 0px;
	font-size: 14px;
}
.footer a {
	color: #000000;
}
.contact-links{
	display: flex;
	flex-direction: column;
}
.social__links {
    display: flex;
    justify-content: center;
}

.social__link {
    margin: 5px 5px;
	display: flex;
	align-items: center;
}

.social__link img {
    width: 40px; 
    height: 40px;
	margin-right: 5px;
}

/* --------------------------------media---------------------- */

@media screen and (max-width:1400px) {
	.gallery__item {
		flex: 0 1 100%;
		overflow: hidden;

	}

}

@media screen and (max-width:992px) {
	body {
		font-weight: 400;
	}
	.content-container{
		margin-left: 0px;
		min-height: 100vh;
		width: 100%;
	}
	
	.gallery__item {
		flex: 0 1 100%;
		overflow: hidden;

	}

	.section__gallery {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.header {
		padding-top: 10px;
		height: 100px;
		width: 100%;
		display: flex;
		flex-direction: row;
		position: fixed;
		justify-content: space-around;
		top: 0px;
		left: 0;
		z-index: 100;
		background-color: rgb(0, 0, 0, 0.5);
	}

	.logo__container {
		gap: 50px;
		justify-content: space-between;
		
		margin-bottom: 0px;
	}

	.btn-language{
		opacity: 0.5;
	}

	.nav__list ul {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.nav__list ul li  {
		padding-bottom: 0px;
	}


	.nav__list ul li a {
		color: #ffffff;
		font-size: 20px;
	}

	.content {
		position: relative;
		top: 0px;
		left: 0px;
	}


	.footer {
		flex-direction: column;
		justify-content: space-around;
		height: 100px;
		width: 100%;
		background-color: rgb(0, 0, 0, 0.5);
	}
	.contact-links {
		flex-direction: row;
	}
	.social__links {
		justify-content: space-around;
	}
}

@media screen and (max-width:750px) {
	.button-language{
		display: none;
	}
	.nav__list ul {
		display: flex;
		gap: 10px;
	}
	.nav__list ul li a {
		font-size: 14px;
		font-weight: 400;
	}

	.footer {
		flex-direction: column;
	}
}