<section class="section__gallery">
        <div class="gallery">
            <div class="gallery__list">
                <div class="gallery__item">
                    <img src="/img/Art/1.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/2.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/3.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/4.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/5.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/6.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/7.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/8.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/9.jpg" alt="">
                </div>
                <div class="gallery__item">
                    <img src="/img/Art/10.jpg" alt="">
                </div>
            </div>
        </div>
    </section>